.top-nav {
    position: fixed;
    width: 100%;
    height: 7%;
    margin: 0;
    padding: 0;
    background-color: #4F4F4F;
    text-align: center;
}

.top-nav .nav-logo {
    position: relative;
    float: left;
    height: 80%;
    top: 10%;
    left: 1%;
}

.top-nav .nav-title {
    position: relative;
    float: left;
    left: 2%;
    top : 23%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #F2C94C;
    font-size: larger;
}

.btn-exit {
    position: relative;
    float: right;
    right: 5%;
    top: 15%;
    background: #8DCBF9;
    border-radius: 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    height: 70%;
    width: 4%;
    /* identical to box height */

    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

/*
.check-icon {
    content: url("../assets/check.png");
    width: 50px;
    height: 50px;
}

.manage-icon {
    content: url("../assets/manage.png");
    width: 50px;
    height: 50px;
}

.unlock-icon {
    content: url("../assets/unlock.png");
    width: 50px;
    height: 50px;
}



.text {
    text-align: center;
    height: 50px;
}*/