body{
    background: url("../assets/background.png") no-repeat center 0;
    background-size: cover;
}

.top {
    position: absolute;
    width: 100%;
    height: 7%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.top .nav-logo {
    position: relative;
    float: left;
    height: 90%;
    top: 10%;
    left: 3%;
}

.top .nav-title {
    position: relative;
    float: left;
    left: 5%;
    top : 15%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #F2C94C;
    font-size: xx-large;
}

.login-box {
    position: relative;
    float: right;
    width: 30%;
    height: 80%;
    margin-top: 8%;
    margin-right: 8%;
    background: rgba(255, 255, 255, 0.68);
    border-radius: 30px;
}

.login-box .login-nav {
    height: 50px;
}

.login-ul {
    list-style-type: none;
}

.login-ul li {
    float: left;
    margin-left: 10%;
    font-family: Roboto;
    color: #828282;
    font-size: 20px;
    font-weight: bold;
    width: 25%;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

.in{
    float: left;
    margin-left: 10%;
    font-family: Roboto;
    color: #828282;
    font-size: 20px;
    font-weight: bold;
    width: 25%;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

.in:hover {
    color: #aaaaaa;
}

.up {
    border-bottom: #F2C94C solid 5px;
    color: white;
}

.login-tab {
    width: 90%;
    margin-left: 5%;
    font-family: Roboto;
    color: #4F4F4F;
    font-size: 16px;
    font-weight: normal;
}


.login-tab p {
    position: relative;

}

.login-tab input {
    position: relative;
    margin-left: 3%;
    margin-bottom: 3%;
    width: 80%;
    height: 40px;
    border-radius: 5px;
}

.login-tab input:hover{
    border: #F2C94C solid 1px;
}



.login-tab select {
    display: inline-block;
    width: 60%;
    height: 38px;
    position: relative;
    vertical-align: middle;
    margin-left: 5%;
    margin-bottom: 3%;
    overflow: hidden;
    background-color: #fff;
    color: #555;
    border: 1px solid #aaa;
    text-shadow: none;
    border-radius: 4px;
    transition: box-shadow 0.25s ease;
    z-index: 2;
}

.select:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.select:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #ccc;
    top: 14px;
    right: 10px;
    cursor: pointer;
    z-index: -2;
}
.select select {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select:focus {
    outline: none;
}

.btn-reg {
    position: relative;
    margin-left: 20%;
    margin-top: 3%;
    margin-bottom: 5%;
    width: 50%;
    height: 40px;
    background-color: #F2C94C;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #4F4F4F;
}

.btn-reg:hover {
    border: darkorange solid 1px;
    color: whitesmoke;
}

